GoogleService-Info.plist
UserInterfaceState.xcuserstate
List-of-things-to-do.xcworkspace/xcuserdata/Kizuki.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
List-of-things-to-do/.DS_Store
List-of-things-to-do/Assets.xcassets/.DS_Store
*.DS_Store