<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895481581681-vm2ochodef0ggglspks6iob50se5ve4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895481581681-vm2ochodef0ggglspks6iob50se5ve4m</string>
	<key>API_KEY</key>
	<string>AIzaSyD1joLf2qYRlj-TRL20OJismNX1MrM8tzw</string>
	<key>GCM_SENDER_ID</key>
	<string>895481581681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kizuki.List-of-things-to-do</string>
	<key>PROJECT_ID</key>
	<string>list-of-things-to-do-26856</string>
	<key>STORAGE_BUCKET</key>
	<string>list-of-things-to-do-26856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895481581681:ios:4d1adfabf797f3e73c4bd0</string>
</dict>
</plist>