<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262978158417-1qlhrfvhte2ruqcvpvd1t5ggvup7u5aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262978158417-1qlhrfvhte2ruqcvpvd1t5ggvup7u5aq</string>
	<key>API_KEY</key>
	<string>AIzaSyDwiMoFSPqPzEfht9RNugcYcymAWtlskKw</string>
	<key>GCM_SENDER_ID</key>
	<string>262978158417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kizuki.List-of-things-to-do</string>
	<key>PROJECT_ID</key>
	<string>list-of-things-to-do-628c0</string>
	<key>STORAGE_BUCKET</key>
	<string>list-of-things-to-do-628c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262978158417:ios:b1835cde0c25011bfbdd70</string>
</dict>
</plist>